{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Select genotypes{% endblock title %}
{% block content %}
  <h1 class="my-4">Select line and genotypes</h1>
  <form action="" method="post">
    {% csrf_token %}
    {% crispy line_form %}
    {% if formset %}
      {{ formset.management_form }}
      <div id="genotype-forms">
        {% for form in formset %}
          {% crispy form %}
        {% endfor %}
      </div>
      <button type="button" id="add-genotype" class="btn btn-secondary d-block">Add Genotype</button>
      <div class="d-flex justify-content-center">
        <button type="submit"
                name="action"
                value="optimise"
                class="btn btn-primary mt-4">Calculate optimal breeding schemes</button>
      </div>
      <!-- Hidden empty form, used via js for adding new rows -->
      <template id="empty-form">
        {% crispy formset.empty_form %}
      </template>
    {% endif %}
  </form>
{% endblock content %}
